body {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100vw;
    max-width: 100%;
}

#container {
    margin: 0;
}

nav {
    border: 2px solid #555555;
    width: 70%;
}

#hero {
   background-image: url("your_verse_hero.jpg"); 
   background-size: 100%, cover;
   background-position: 0px -600px;
   width: 100%;
}

#smallcontainer {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.smallitem {
    background-color: #f0c3a4;
    width: 20%;
}